html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

html {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-image: url("/images/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app {
  border: solid 2px #02fd2497;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: #a7e1af;
  box-shadow: 10px 5px 10px #757474;
  background-color: #0b180c;
}